<!-- src/app/app.component.html -->
<h1>
  {{title}}
</h1>

<!--top-Header-menu-->
<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="#">Stock Summary</a></li>
  <li role="presentation"><a href="#">Add New</a></li>
  <li role="presentation"><a href="https://github.com/tranc99/stockportfolio" target="_blank">About StockDashboard</a></li>
</ul>

<hr>
<h2>Welcome, here are the latest updates on your stock picks.</h2>
<br>

<div class="row-fluid">
  <div class="widget-box">
          <div class="widget-content nopadding">
            <table class="table table-bordered data-table">
              <thead>
                <tr>
                  <th>Stock Symbol</th>
                  <th>Price</th>
                  <th>Bought At</th>
                  <th>Quantity</th>
                  <th>Total Value</th>
                  <th>Current Trend</th>
                </tr>
              </thead>
              <tbody>
                <tr class="gradeX" *ngFor="let stock of stockPrices" [@trending]="stock.trend">
                  <td>{{stock.symbol}}</td>
                  <td>USD {{stock.price}}</td>
                  <td>{{stock.bought_price}}</td>
                  <td class="center">{{stock.quantity}}</td>
                  <td>{{stock.price * stock.quantity}}</td>
                  <td>{{stock.trend}}</td>
                </tr>
              </tbody>
            </table>
